@charset "UTF-8";
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
table,
textarea {
	font-family: NotoSansR,'나눔고딕',NanumGothic,'맑은 고딕',malgungothic,'굴림',Gulim,AppleGothic,sans-serif;
	font-size: 18px;
	line-height: normal;
	letter-spacing: -0.3px;
	color: #000;
}

button,
input,
a {
	cursor: pointer;
}

button {
	border: none;
}

fieldset,
img {
	border: 0;
}

ol,
ul {
	list-style: none;
}

address,
em {
	font-style: normal;
}

a {
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	text-decoration: none;
}

.blind {
	overflow: hidden !important;
	position: absolute !important;
	clip: rect(0, 0, 0, 0) !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
}

/* notosans_jp */
@font-face {
	font-family: 'NotoSansBoldJP';
	font-weight: 800;
	src: url("../fonts/NotoSansJP-Bold.otf") format("opentype"), url("../fonts/NotoSansJP-Bold.woff") format("woff"), url("../fonts/NotoSansJP-Bold.woff2") format("woff2");
}

@font-face {
	font-family: 'NotoSansMediumJP';
	src: url("../fonts/NotoSansJP-Medium.otf") format("opentype"), url("../fonts/NotoSansJP-Medium.woff") format("woff"), url("../fonts/NotoSansJP-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'NotoSansRegularJP';
	src: url("../fonts/NotoSansJP-Regular.otf") format("opentype"), url("../fonts/NotoSansJP-Regular.woff") format("woff"), url("../fonts/NotoSansJP-Regular.woff2") format("woff2");
}

/* SeuratProN */
@font-face {
	font-family: 'SeuratProB';
	src: url("../fonts/FOT-SeuratProB.otf") format("opentype");
	src: url("../fonts/FOT-SeuratProB.woff") format("woff"), url("../fonts/FOT-SeuratProB.woff2") format("woff2");
}

/* border-radius */
.wrap {
	min-width: 320px;
	box-sizing: border-box;
}

.container .inner {
	max-width: 375px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box;
}

.spot .inner {
	position: relative;
	padding: 24px 20px 10px;
}

.spot .sub_title {
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	color: #0dcb67;
}

.spot .title {
	font-family: 'SeuratProB';
	font-size: 36px;
	line-height: 40px;
	text-align: center;
}

.spot .title span {
	position: relative;
	padding-left: 40px;
}

.spot .title span::before {
	position: absolute;
	top: 5px;
	left: 0;
	content: '';
	width: 30px;
	height: 32px;
	background: url("../img/main_mark.png") 0 0 no-repeat;
	background-size: 30px 32px;
	-webkit-background-size: 30px 32px;
}

.spot .text {
	margin: 8px 0 10px;
	font-family: 'HelveticaNeue','NotoSansMediumJP';
	font-size: 16px;
	line-height: normal;
	color: #666;
}

.spot .video_box {
	width: 100%;
	height: 188px;
	margin: 0 auto;
}

.info {
	position: relative;
	background-color: #d5f1de;
}

.info::before {
	background-color: #d5f1de;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: -57px;
	height: 57px;
	z-index: -10;
}

.info .inner {
	padding: 10px 20px 32px;
}

.info .title {
	height: 52px;
	background: url("../img/info_title.png") 50% 0 no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
}

.info .text {
	font-family: 'HelveticaNeue','NotoSansRegularJP';
	font-size: 16px;
	font-weight: normal;
	color: #666;
}

.info .button_box {
	position: relative;
	display: block;
	width: 100%;
	padding: 17px 20px;
	background-color: #fff;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.info .button_box + .button_box {
	margin-top: 8px;
}

.info .button_box.download {
	margin-top: 12px;
}

.info .button_box.download::after {
	content: '';
	position: absolute;
	top: 33px;
	right: 18px;
	width: 26px;
	height: 26px;
	background: url("../img/btn_download.png") 0 0 no-repeat;
	background-size: 26px 26px;
	-webkit-background-size: 26px 26px;
}

.info .button_box.share {
	margin-bottom: 29px;
}

.info .button_box.share::after {
	content: '';
	position: absolute;
	top: 33px;
	right: 18px;
	width: 26px;
	height: 26px;
	background: url("../img/btn_share.png") 0 0 no-repeat;
	background-size: 26px 26px;
	-webkit-background-size: 26px 26px;
}

.info .button_box span {
	display: block;
	text-align: left;
	padding-right: 26px;
	font-size: 16px;
	font-family: 'SeuratProB';
	color: #444a61;
}

.info .button_box em {
	display: block;
	text-align: left;
	padding-right: 26px;
	font-size: 16px;
	color: #0dcb67;
}

.info .sub_title {
	font-family: 'SeuratProB';
	font-size: 18px;
	color: #222;
}

.info .sub_text {
	font-family: 'HelveticaNeue','NotoSansRegularJP';
	margin-bottom: 24px;
	font-size: 16px;
	color: #666;
}

.info .sub_text em {
	font-family: 'NotoSansBoldJP';
	font-weight: 800;
	font-size: 16px;
	color: #0dcb67;
}

.info .info_list {
	margin-top: 10px;
}

.info .info_list .list_item {
	position: relative;
	padding-left: 74px;
}

.info .info_list .list_item + .list_item {
	margin-top: 17px;
}

.info .info_list .list_item.item_1::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff url("../img/ico_1.png") no-repeat 50% 50%;
	background-size: 34px 34px;
	-webkit-background-size: 34px 34px;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.info .info_list .list_item.item_1::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff url("../img/ico_1.png") no-repeat 50% 50%;
	background-size: 34px 34px;
	-webkit-background-size: 34px 34px;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.info .info_list .list_item.item_2::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff url("../img/ico_2.png") no-repeat 50% 50%;
	background-size: 34px 34px;
	-webkit-background-size: 34px 34px;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.info .info_list .list_item.item_3::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff url("../img/ico_3.png") no-repeat 50% 50%;
	background-size: 34px 34px;
	-webkit-background-size: 34px 34px;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.info .info_list .list_item.item_4::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff url("../img/ico_4.png") no-repeat 50% 50%;
	background-size: 34px 34px;
	-webkit-background-size: 34px 34px;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.info .info_list .list_item.item_5::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff url("../img/ico_5.png") no-repeat 50% 50%;
	background-size: 34px 34px;
	-webkit-background-size: 34px 34px;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.info .info_list .list_item p {
	font-family: 'SeuratProB';
	font-size: 14px;
	line-height: 19.2px;
	color: #333;
}

.info .info_list .list_item p em {
	color: #0dcb67;
}

.info .info_list .list_item span {
	font-size: 13px;
	color: #8ca293;
}

.guide {
	background-color: #fff;
}

.guide .inner {
	padding: 30px 20px;
}

.guide .title {
	height: 52px;
	background: url("../img/guide_title.png") 50% 0 no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
}

.guide .text {
	margin-bottom: 13px;
	font-family: 'HelveticaNeue','NotoSansRegularJP';
	font-size: 16px;
	font-weight: normal;
	color: #666;
	text-align: left;
}

.guide .guide_list {
	text-align: center;
}

.guide .guide_list .list_item {
	background-color: #e6f9ec;
	padding: 22px 20px 18px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.guide .guide_list .list_item + .list_item {
	margin-top: 10px;
}

.guide .guide_list .list_title {
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
	padding-left: 35px;
	font-family: 'SeuratProB';
	font-size: 20px;
	line-height: 28px;
	color: #333;
}

.guide .guide_list .list_title.basic_des::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	background: url("../img/book_mark.png") no-repeat 0 0;
	background-size: 28px 28px;
	-webkit-background-size: 28px 28px;
}

.guide .guide_list .list_title.guide_des::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	background: url("../img/band_mark.png") no-repeat 0 0;
	background-size: 28px 28px;
	-webkit-background-size: 28px 28px;
}

.guide .guide_list .list_title.video::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	background: url("../img/play_mark.png") no-repeat 0 0;
	background-size: 28px 28px;
	-webkit-background-size: 28px 28px;
}

.guide .guide_list .list_text {
	font-family: 'HelveticaNeue','NotoSansRegularJP';
	text-align: left;
	margin-bottom: 12px;
	font-size: 15px;
	color: #333;
}

.guide .guide_list .list_text.img_des {
	position: relative;
	overflow: hidden;
	padding-right: 155px;
}

.guide .guide_list .list_text.img_des::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -4px;
	transform: translateY(-50%);
	width: 155px;
	height: 168px;
	background: #fff url("../img/book_cover.png") no-repeat 0 0;
	background-size: 155px 168px;
	-webkit-background-size: 155px 168px;
}

.guide .guide_list .video_box {
	width: 100%;
	height: 166px;
	margin: 0 auto;
}

.guide .guide_list .down_load_btn {
	display: block;
	width: 100%;
	margin: 14px auto 0;
	padding: 10px 0;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #0dcb67;
}

.guide .guide_list .down_text {
	display: inline-block;
	position: relative;
	padding-right: 30px;
	font-family: 'SeuratProB';
	font-size: 18px;
	color: #fff;
}

.guide .guide_list .down_text::after {
	content: '';
	position: absolute;
	top: 6px;
	right: 0;
	width: 26px;
	height: 26px;
	background: url("../img/btn_download_wh.png") 0 0 no-repeat;
	background-size: 26px 26px;
	-webkit-background-size: 26px 26px;
}

.guide .important_list_title {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #0dcb67;
	text-align: left;
}

.important_list_box {
	text-align: left;
}

.important_list_box:after {
	content: '';
	display: block;
	clear: both;
}

.important_list_box .important_list {
	float: left;
	width: 50%;
	margin-bottom: 11px;
}

.important_list_box .important_list .list_item {
	position: relative;
	padding: 0 0 0 6px;
	font-size: 13px;
	line-height: 15px;
	color: #666;
}

.important_list_box .important_list .list_item + .list_item {
	margin-top: 0;
}

.important_list_box .important_list .list_item::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 3px;
	height: 3px;
	background-color: #0dcb67;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.more_info {
	background-color: #f3f6f9;
}

.more_info .inner {
	padding: 30px 20px;
}

.more_info .title {
	height: 52px;
	background: url("../img/more_info_title.png") 50% 0 no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
}

.more_info .sub_title {
	margin-top: 30px;
	font-family: 'SeuratProB';
	font-size: 18px;
	line-height: 26px;
	letter-spacing: -0.6px;
	color: #222;
}

.more_info .text {
	font-family: 'HelveticaNeue','NotoSansRegularJP';
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: normal;
	color: #666;
}

.more_info .download_list .list_item {
	background-color: #e4eaf1;
	padding: 22px 20px 18px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.more_info .download_list .list_item + .list_item {
	margin-top: 10px;
}

.more_info .download_list .list_title {
	margin-bottom: 15px;
	font-family: 'NotoSansBoldJP';
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #333;
}

.more_info .download_list .list_text {
	font-family: 'HelveticaNeue','NotoSansMediumJP';
	margin-bottom: 12px;
	font-size: 14px;
	color: #666;
}

.more_info .download_list .down_load_btn {
	display: block;
	width: 100%;
	margin: 14px auto 0;
	padding: 10px 0;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #0dcb67;
}

.more_info .download_list .down_text {
	display: inline-block;
	position: relative;
	padding-right: 30px;
	font-family: 'SeuratProB';
	font-size: 18px;
	color: #fff;
}

.more_info .download_list .down_text::after {
	content: '';
	position: absolute;
	top: 6px;
	right: 0;
	width: 26px;
	height: 26px;
	background: url("../img/btn_download_wh.png") 0 0 no-repeat;
	background-size: 26px 26px;
	-webkit-background-size: 26px 26px;
}

.more_info .btn {
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.14);
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.more_info .btn + .btn {
	margin-top: 8px;
}

.more_info .btn.share {
	position: relative;
	margin-top: 15px;
	padding: 0 46px 0 20px;
	background: url("../img/btn_share_text.png") 20px 20px no-repeat;
	background-size: 202px 15px;
	-webkit-background-size: 202px 15px;
}

.more_info .btn.share::after {
	content: '';
	position: absolute;
	top: 15px;
	right: 20px;
	width: 26px;
	height: 26px;
	background: url("../img/btn_share.png") 0 0 no-repeat;
	background-size: 26px 26px;
	-webkit-background-size: 26px 26px;
}

.more_info .btn.mail {
	position: relative;
	margin-bottom: 32px;
	padding: 0 46px 0 20px;
	background: url("../img/btn_mail_text.png") 20px 20px no-repeat;
	background-size: 170px 15px;
	-webkit-background-size: 170px 15px;
}

.more_info .btn.mail::after {
	content: '';
	position: absolute;
	top: 15px;
	right: 20px;
	width: 26px;
	height: 26px;
	background: url("../img/btn_mail.png") 0 0 no-repeat;
	background-size: 26px 26px;
	-webkit-background-size: 26px 26px;
}

.more_info .btn_download {
	display: inline-block;
	position: relative;
	width: 335px;
	height: 72px;
	background-color: #444a61;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 17px 43px 19px 75px;
	font-family: 'SeuratProB';
	font-size: 18px;
	color: #fff;
}

.more_info .btn_download .mo_320 {
	display: none;
}

.more_info .btn_download .important {
	color: #0dcb67;
}

.more_info .btn_download::before {
	content: '';
	position: absolute;
	top: 14px;
	left: 25px;
	width: 42px;
	height: 43px;
	background: url("../img/ico_band.png") 0 0 no-repeat;
	background-size: 42px 43px;
	-webkit-background-size: 42px 43px;
}

.more_info .btn_download::after {
	content: '';
	position: absolute;
	top: 29px;
	right: 26px;
	width: 14px;
	height: 14px;
	background: url("../img/ico_arrow_wh.png") 0 0 no-repeat;
	background-size: 14px 14px;
	-webkit-background-size: 14px 14px;
}

.footer {
	background-color: #f3f6f9;
}

.footer .inner {
	border-top: 1px solid #e1e5ea;
	padding: 23px 48px;
	text-align: center;
}

.footer .text {
	font-family: 'HelveticaNeue','NotoSansRegularJP';
	font-size: 14px;
	text-align: center;
	color: #666;
}

.footer .footer_link {
	display: inline-block;
	text-align: center;
	padding-right: 10px;
	vertical-align: middle;
	color: #0dcb67;
}

.footer .footer_link::after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	vertical-align: middle;
	background: url("../img/ico_arrow_gr.png") 0 0 no-repeat;
	background-size: 10px 10px;
	-webkit-background-size: 10px 10px;
}

@media screen and (max-width: 374px) {
	.more_info .btn_download {
		width: 100%;
		padding: 14px 70px 14px 80px;
		font-family: 'SeuratProB';
		font-size: 18px;
		line-height: 22px;
		text-align: left;
	}
	.more_info .btn_download .mo_320 {
		display: block;
	}
}

.popup.download {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.popup.download.show {
	display: block;
}

.popup.download.show .popup_dimmed {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.4;
}

.popup.download.show .popup_layer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 355px;
	min-width: 280px;
	padding: 27px 16px 16px;
	background-color: #fff;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.popup.download.show .popup_title {
	display: block;
	font-family: 'Pretendard';
	text-align: center;
}

.popup.download.show .file_box {
	position: relative;
	width: 100%;
	margin-top: 15px;
	padding: 12px 13px;
	background-color: #f5f6f8;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-family: 'Pretendard';
	font-size: 15px;
	color: #222;
	text-align: left;
}

.popup.download.show .file_text {
	display: flex;
}

.popup.download.show .file_name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.popup.download.show .sub_info {
	margin-left: auto;
	padding-left: 10px;
	color: #0dcb67;
}

.popup.download.show .notice_text {
	padding-top: 8px;
	font-family: 'Pretendard';
	font-size: 12px;
	color: #888;
}

.popup.download.show .btn {
	display: inline-block;
	width: calc(50% - 7px);
	margin-top: 16px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 14px 0;
	text-align: center;
}

.popup.download.show .btn + .btn {
	margin-left: 7px;
}

.popup.download.show .btn.cancel {
	background-color: #e6f9ec;
	color: #0dcb67;
}

.popup.download.show .btn.download {
	background-color: #0dcb67;
	color: #fff;
}

.popup.copy {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.popup.copy.show {
	display: block;
}

.popup.copy.show .popup_dimmed {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.4;
}

.popup.copy.show .popup_layer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 355px;
	min-width: 280px;
	padding: 27px 16px 16px;
	background-color: #fff;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.popup.copy.show .popup_title {
	display: block;
	font-family: 'Pretendard';
	text-align: center;
}

.popup.copy.show .file_box {
	position: relative;
	width: 100%;
	margin-top: 15px;
	background-color: #f5f6f8;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-family: 'Pretendard';
	font-size: 15px;
	color: #222;
}

.popup.copy.show .file_name {
	display: block;
	padding: 12px 64px 12px 13px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.popup.copy.show .sub_info {
	position: absolute;
	top: 12px;
	right: 13px;
	display: inline-block;
	vertical-align: middle;
	color: #0dcb67;
}

.popup.copy.show .notice_text {
	padding-top: 8px;
	font-family: 'Pretendard';
	font-size: 12px;
	color: #888;
}

.popup.copy.show .btn {
	display: inline-block;
	width: calc(50% - 7px);
	margin-top: 16px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 14px 0;
	text-align: center;
}

.popup.copy.show .btn + .btn {
	margin-left: 7px;
}

.popup.copy.show .btn.cancel {
	background-color: #e6f9ec;
	color: #0dcb67;
}

.popup.copy.show .btn.copy {
	background-color: #0dcb67;
	color: #fff;
}

/*# sourceMappingURL=global_jp_band.css.map */
